{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
    <body>
        <h2>Les derniers ventes</h2>
    </body>

{% endblock %}